@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    color: #0F3057;
    text-transform: uppercase;
    font-size: 48px;
    
}

header .conteiner-buttons button{
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    border: none;
    padding: 10px;
    width: 250px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #E7E7DE;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    font-weight: 500;
    font-size: 16px;
}

header .conteiner-buttons .component{
    background-color: #0F3057;
    
}

header .conteiner-buttons .component-selected{
    background-color: #00587A;
    font-size: 17px;
}